/* This method of using tailwind and radix-themes
is from here: https://www.frontend.fyi/v/fixing-radix-themes-with-css-cascade-layers */
@layer tw_base, radix_ui, tw_components_utils;
@import "@radix-ui/themes/styles.css" layer(radix_ui);
@import url("https://fonts.googleapis.com/css2?family=Uncial+Antiqua&display=swap");
@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/navigation";

.uncial-antiqua-regular {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(2 6 23 / 1);
  background: rgb(2 6 23 / 1);
  & .theme-inner-wrapper,
  header {
    background-color: rgb(2 6 23 / 1);
    background: rgb(2 6 23 / 1);
  }
  & [data-radix-popper-content-wrapper] .rt-PopoverContent,
  #cart-drawer {
    background-color: rgb(2 6 23 / 1);
  }
  & header,
  #cart-drawer {
    border-color: #2e3441;
    & * {
      border-color: #2e3441;
    }
  }
  @media screen and (max-width: 797px) {
    border: 1px solid #2e3441;
    & header,
    cart-drawer {
      border-color: #2e3441;
    }
  }
}

body.light {
  background-color: #fff;
  background: #fff;
  & .theme-inner-wrapper,
  header {
    background-color: #fff;
    background: #fff;
  }
  & header,
  #cart-drawer {
    border-color: #bdc0c3;
  }
  @media screen and (max-width: 797px) {
    & .site-nav {
      border: 1px solid #bdc0c3;
      box-shadow: 0 0 1rem 1rem rgba(189, 192, 195, 0.318);
    }
  }
  & [data-radix-popper-content-wrapper] .rt-PopoverContent,
  #cart-drawer {
    background-color: white;
    color: inherit;
  }
}

.swiper {
  width: 100%;
  height: auto;
  padding: 1rem 0 3.5rem;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: auto;
  min-height: 200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.swiper-button-prev,
.swiper-button-next {
  color: var(--gray-12);
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: var(--gray-12);
}

.swiper.white-buttons .swiper-button-prev,
.swiper.white-buttons .swiper-button-next {
  color: white;
}

@layer tw_base {
  @tailwind base;
}

@layer tw_components_utils {
  @tailwind components;
  @tailwind utilities;
}
